<template>
  <div class="countdown">
    <strong>Time</strong>
    <span>{{ minutes }}:{{ seconds }}</span>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Countdown',
  computed: {
    ...mapState([
      'isPaused',
      'timeLeftInSeconds'
    ]),
    minutes () {
      return Math.floor(this.timeLeftInSeconds / 60)
    },
    seconds () {
      const seconds = this.timeLeftInSeconds % 60
      return seconds < 10 ? `0${seconds}` : seconds
    }
  },
  methods: {
    ...mapActions([
      'decreaseTimeLeft'
    ])
  },
  mounted () {
    if (!process.browser) {
      return
    }

    if (this.timeLeftInSeconds < 1) {
      return
    }

    this.intervalId = setInterval(() => {
      if (this.isPaused) {
        return
      }

      this.decreaseTimeLeft(1)

      if (this.timeLeftInSeconds < 1) {
        clearInterval(this.intervalId)
        this.$emit('finish')
      }
    }, 1000)
  },
  destroy () {
    if (!process.browser) {
      return
    }

    clearInterval(this.intervalId)
  }
}
</script>
