<template>
  <div class="game-over">
    <div class="big-text">Game Over</div>
    <button
      type="button"
      @click="restart"
    >
      Try again
    </button>
  </div>
</template>

<script>
export default {
  name: 'GameOver',
  methods: {
    restart () {
      location.reload()
    }
  }
}
</script>

<style>
  .game-over {
    padding: 236px 0;
    text-align: center;
  }

  .game-over .big-text {
    font-size: 64px;
    margin: 16px;
  }
</style>
