<template>
  <button
    type="button"
    class="music"
    @click="toggle"
  >
    <span v-show="isEnabled">🔊 On</span>
    <span v-show="!isEnabled">🔇 Off</span>
  </button>
</template>

<script>
import { Howl, Howler } from 'howler'

export default {
  name: 'Music',
  data () {
    return {
      isEnabled: process.browser ? (localStorage.isMusicEnabled !== 'false') : false,
      music: null
    }
  },
  methods: {
    play () {
      if (!this.music) {
        this.music = new Howl({
          src: ['drifting-dummies.ogg', 'drifting-dummies.mp3'],
          sprite: {
            loop: [0, 57600, true]
          }
        })
      }

      this.music.play('loop')
    },
    toggle () {
      this.isEnabled = !this.isEnabled
      localStorage.isMusicEnabled = this.isEnabled

      if (this.isEnabled) {
        this.play()
      } else {
        this.music.stop()
      }
    }
  },
  mounted () {
    Howler.unload()

    if (this.isEnabled) {
      this.play()
    }
  }
}
</script>

<style>
  .music {
    display: inline;
  }
</style>
