<template>
  <div class="points">
    <strong>Points</strong>
    <span>{{ points }}</span>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Points',
  computed: {
    ...mapState([
      'points'
    ])
  }
}
</script>
