<template>
  <div>
    <nuxt/>
  </div>
</template>

<style>
  a {
    color: #000000;
  }

  a:hover {
    background-color: #d0d0d0;
    border-radius: 2px;
  }

  button {
    background-color: #e0e0e0;
    border: 1px solid #606060;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
  }

  button:active {
    border: 1px solid #202020;
    box-shadow: 1px 1px #202020;
  }

  button:hover {
    background-color: #d0d0d0;
  }

  button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  button[disabled]:hover {
    background-color: #e0e0e0;
  }

  html {
    box-sizing: border-box;
    color: #505050;
    font-family: sans-serif;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }
</style>
