<template>
  <div class="container">
    <h1 class="title">
      <span>Drifting Dummies</span>
      <music />
    </h1>

    <div
      class="preload-container"
      v-for="(dummy, index) in availableDummies"
      :key="index"
    >
      <img :src="dummy.animationUrl" @load="onLoadDummyImage" />
      <img :src="dummy.imageUrl" @load="onLoadDummyImage" />
    </div>

    <div class="header">
      <countdown
        @finish="isRunning = false"
      />

      <div class="sequence">
        <strong>Sequence</strong>
        {{ sequenceIndex + 1 }} / {{ sequenceLength }}
      </div>

      <points />
    </div>

    <p
      v-show="isLoadingImages"
      class="loading-screen"
    >Sorry, still loading...</p>

    <div
      v-show="isRunning"
      class="dummy-container"
    >
      <transition
        :duration="{ enter: 1000, leave: 500 }"
        enter-active-class="animated fadeInRight"
        leave-active-class="animated fadeOutLeft"
        @after-enter="currentDummy.isVisible = false"
        @after-leave="nextDummy"
      >
        <img
          v-show="currentDummy.isVisible"
          :src="currentDummy.animationUrl"
        />
      </transition>

      <transition-group
        enter-active-class="animated tada"
        leave-active-class="animated fadeOut"
        @after-enter="isCorrect = null"
        @after-leave="showSequence"
      >
        <div
          class="result"
          key="correct"
          v-show="isCorrect === true"
        >
          Correct!
        </div>
        <div
          class="result"
          key="wrong"
          v-show="isCorrect === false"
        >
          Wrong!
        </div>
      </transition-group>
    </div>

    <game-over v-show="!isLoadingImages && !isRunning" />

    <div v-show="isRunning">
      <button
        v-for="(dummy, index) in availableDummies"
        :key="index"
        type="button"
        class="dummy-button"
        :disabled="isPaused"
        @click="selectDummy(index)"
      >
        <img :src="dummy.imageUrl" />
      </button>
    </div>

    <footer>
      Created by <a href="https://dasmaichen.de">dasMaichen</a> and <a href="https://winniehell.de">winniehell</a>,
      hosted on <a href="https://gitlab.com/ldjam-41/drifting-dummies">GitLab.com</a>
    </footer>
  </div>
</template>

<script>
import 'animate.css'
import { mapActions, mapState } from 'vuex'

import Countdown from '~/components/countdown.vue'
import GameOver from '~/components/game-over.vue'
import Music from '~/components/music.vue'
import Points from '~/components/points.vue'

export default {
  components: {
    Countdown,
    GameOver,
    Music,
    Points
  },
  computed: {
    ...mapState([
      'availableDummies',
      'isPaused',
      'points'
    ]),
    isLoadingImages () {
      return this.loadedDummyImageCount < this.availableDummies.length * 2
    },
    sequenceLength () {
      return Math.floor(this.points / 3) + 1
    }
  },
  data () {
    return {
      currentDummy: { },
      isCorrect: null,
      isRunning: false,
      loadedDummyImageCount: 0,
      sequenceIndex: -1
    }
  },
  methods: {
    ...mapActions([
      'increasePoints',
      'increaseTimeLeft',
      'setPaused'
    ]),
    nextDummy () {
      this.sequenceIndex += 1
      if (this.sequenceIndex === this.sequenceLength) {
        this.sequenceIndex = 0
        this.setPaused(false)
      } else {
        this.currentDummy = {
          ...this.currentSequence[this.sequenceIndex],
          isVisible: true
        }
      }
    },
    onLoadDummyImage () {
      this.loadedDummyImageCount += 1

      if (!this.isLoadingImages) {
        this.isRunning = true
        this.showSequence()
      }
    },
    showSequence () {
      this.currentSequence = []
      for (let i = 0; i < this.sequenceLength; i += 1) {
        const index = Math.floor(Math.random() * this.availableDummies.length)
        this.currentSequence.push({
          ...this.availableDummies[index],
          index
        })
      }

      this.sequenceIndex = -1
      this.nextDummy()
    },
    selectDummy (index) {
      if (index === this.currentSequence[this.sequenceIndex].index) {
        if (this.sequenceIndex === this.sequenceLength - 1) {
          this.isCorrect = true
        } else {
          this.sequenceIndex += 1
          return
        }
      } else {
        this.isCorrect = false
      }

      this.setPaused(true)

      if (this.isCorrect) {
        this.increasePoints(1)
        this.increaseTimeLeft(2)
      }
    }
  }
}
</script>

<style>
  body {
    background-color: #202020;
  }

  footer {
    border-top: 1px solid #c0c0c0;
    margin-top: 24px;
    padding-top: 24px;
    text-align: right;
  }

  .container {
    background-color: white;
    border-radius: 8px;
    margin: 32px auto;
    min-height: 800px;
    padding: 32px;
    width: 1200px;
  }

  .dummy-button {
    background: transparent;
    border-color: transparent;
  }

  .dummy-button[disabled]:hover {
    background: transparent;
  }

  .dummy-button img {
    height: 128px;
  }

  .dummy-container {
    height: 400px;
    margin: 32px 400px;
  }

  .header {
    display: flex;
    flex-direction: row;
    font-size: 24px;
  }

  .header * {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .loading-screen {
    padding: 236px 0;
    text-align: center;
  }

  .preload-container {
    height: 1px;
    overflow: hidden;
    width: 1px;
  }

  .result {
    font-size: 64px;
    text-align: center;
  }

  .title {
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    margin-bottom: 32px;
  }

  .title span {
    flex: 1;
  }
</style>
